.text {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.borderCircle {
    display: flex;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
}

.borderSquare {
    display: flex;
    padding: 1px 4px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
}
