.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    gap: 20px;
    background-color: white;
}
.rightPanel {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}
